@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-size: 62.5%;

  /* shorthand font: font-size/line-height font-family*/
  --text-df: 1.6rem/150% var(--font-family);
  --text-sm: 1.2rem/170% var(--font-family);
  --text-md: 1.4rem/170% var(--font-family);
  --text-lg: bold 3.2rem/125% var(--font-family);
  
  --font-family: "Poppins", sans-serif;

  --brand-color: #EF5F4C;
  --background-color: #ffffff;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

body, button, input {
  font: var(--text-df);
}

a {
  color: inherit; /* cor herdada do pai */
  text-decoration: none;
  transition: .3s ease-out;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  max-width: 128rem;
  margin-inline: auto;
  padding-inline: 3.2rem;
}

.bg-surface-color {
  background-color: var(--surface-color);
}